@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Raleway:600,400);
body {
  box-sizing: border-box;
  background-color: black;
  background-image: url('');
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: white;
}

a,
a:hover,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  max-width: 100vw;
}

div{
  margin-bottom: 20px;
}

h1 {
  font-size: 7.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

#quote {
  border: 4px solid rgba(85, 85, 85, .7);
  padding: 10px;
  background-color: rgba(240, 236, 239, .25);
}

#quote-text {
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 3.7rem;
}

#quote-attribute {
  text-align: right;
}

#quote-author {
  font-size: 3rem;
}

#quote-source {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: .25rem;
}

button {
  background-color: rgba(85, 85, 85, .7);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: .25rem;
  border: none;
  padding: 10px 20px;
}
.material-icons{
    font-size: 1.125rem;
    display: inline-block;
}